@import "tailwindcss";

:root {
    --color-background-principal: #EFDCCC;
    --color-background-secundario: #E9D3C0;
    --color-acento: #A18167;
    --color-background-suave: #F2E5D9;
}

@layer components {
    .menu-open {
        @apply translate-0;
    }

    .menu-closed {
        @apply -translate-x-full md:translate-x-0;
    }

    /* Personalizados con variables */
    .bg-principal {
        background-color: var(--color-background-principal);
    }

    .bg-secundario {
        background-color: var(--color-background-secundario);
    }

    .bg-suave {
        background-color: var(--color-background-suave);
    }

    .text-acento {
        color: var(--color-acento);
    }
}