@import "tailwindcss"; 

:root {
    --color-background-principal: #EFDCCC;
    --color-background-secundario: #E9D3C0;
    --color-acento: #A18167;
    --color-background-suave: #F2E5D9;
}

@layer components {
    .menu-open {
        @apply translate-0;
    }

    .menu-closed {
        @apply -translate-x-full md:translate-x-0;
    }

    /* Personalizados con variables */
    .bg-principal {
        background-color: var(--color-background-principal);
    }

    .bg-secundario {
        background-color: var(--color-background-secundario);
    }

    .bg-suave {
        background-color: var(--color-background-suave);
    }

    .bg-acento {
        background-color: var(--color-acento);
    }

    .text-principal {
        color: var(--color-background-principal);
    }

    .text-secundario {
        color: var(--color-background-secundario);
    }

    .text-suave {
        color: var(--color-background-suave);
    }

    .text-acento {
        color: var(--color-acento);
    }


    .banner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .75);
    }
}